*{
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    background-color: #f6ec95;
}

h1{
    margin: 0px auto 25px;
    text-align: center;
}

.app{
    max-width: 400px;
    margin: 10px auto 0px;
    background-color: rgb(238, 234, 234);
    border: 4px solid green;
    border-radius: 50px 10px;
    padding: 30px;
}

.btn-link{
    border:0px;
    background-color: transparent;
    color: blue;
    text-decoration: underline;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    font-size: 1rem;
    float: right;
}
    
ul.todo{
    list-style: none;
    padding: 0px;
}
ul.todo li{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
ul.todo li:last-child{
    border-bottom: 0px;
}
form.add input[type="text"]{
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 7px;
    padding-right: 30px;
}
form.add input[type="submit"]{
    font-size: 1em;
    border-radius: 4px;
    padding: 5px 10px;
    border 1px solid lightcoral;
    background-color: #12a10f;
    color: white;
    margin-left: 20px;
}
